workDir = '/storage/tmp/nf'

params {
    // set global params
    input_dir = '/data/fastq/'
    output_dir = '/data/WTS'
    ref_ver = 'hg38'
    gtf_ver = 'v47'
    ref_dir = "/storage/references_and_index"
    flowcell_id = ""
    read_len = ""
    platform = 'Illumina'
    library = 'TruSeq'
    center = 'Gencurix'
    save_failed_trim = false
    umi_str = "5M2S+T"
    tmp_dir = "/data/tmp"
}

// Set cluster
executor {
    name = 'sge'
    queueSize = 100
}

// Set virtual environments
singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /data,/storage"
}

// Set process
process {
    penv = 'smp'
    queue = 'all.q@ngsnode1'
    publishDir = [
        // path: { "${params.output_dir}" }, 
        path: "${params.output_dir}", 
        mode: 'link', 
        overwrite: false
    ]
    withName: 'Fastp*' {
        container = "/storage/images/fastp-0.23.4.sif"
    }
    withName: 'STAR_.*' {
        container = "/storage/images/star-2.7.11.sif"
    }
    withName: 'RSEM_.*' {
        container = "/storage/images/rsem-1.3.3.sif"
    }

    // Resource usage 
    withLabel: 'standard' {
        cpus = 4
        memory = '8 GB'
    }

    withLabel: 'high' {
        cpus = 16
        memory = '48 GB'
    }

}

