workDir = '/data/tmp/nf'

params {
    // set global params
    input_dir = '/data/fastq/'
    output_dir = '/data/WTS'
    ref_ver = 'hg38'
    ref_dir = "/storage/references_and_index"
    flowcell_id = ""
    read_len = ""
    platform = 'Illumina'
    library = 'TruSeq'
    center = 'Gencurix'
    save_failed_trim = false
    umi_str = "5M2S+T"
    tmp_dir = "/data/tmp"
}

// Set cluster
executor {
    name = 'sge'
    queueSize = 100
}

// Set virtual environments
singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /data,/storage"
}

// Set process
process {
    penv = 'smp'
    queue = 'all.q@ngsnode1'
    publishDir = [
        // path: { "${params.output_dir}" }, 
        path: "${params.output_dir}", 
        mode: 'link', 
        overwrite: false
    ]
}

